# Setup

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Books.csv')
df.head()

   BookID OsisID     BookName  TotalChapters Volume
0       1    Gen      Genesis             50     OT
1       2   Exod       Exodus             40     OT
2       3    Lev    Leviticus             27     OT
3       4    Num      Numbers             36     OT
4       5   Deut  Deuteronomy             34     OT

# Cumulative Total

In [4]:

df['CumulativeTotalChapters'] = np.cumsum(df['TotalChapters'])

0       50
1       90
2      117
3      153
4      187
      ...
61    1164
62    1165
63    1166
64    1167
65    1189
Name: TotalChapters, Length: 66, dtype: int64

In [ ]:
# # starting point of Sirach 13 is 772 = 0